body {
	font-family: sans-serif;
}


button {
	background-color: cyan;
	border: 2px solid black;
	border-radius: 15px;
	height: 50px;
	margin: 25px;
	font-size: 20px;
	font-weight: bold;
}

div {
	font-size: 1.5em;
}


td,
th {
	text-align: center;
	border: solid 2px black;
	border-collapse: collapse;
	padding: 4px;
}

th {
	font-size: 1.5em;
}

td {
	font-size: 1.2em;
}

table {
	border-collapse: collapse;
}